---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Pagina Protegida">
  <h1 class="text-3xl">Astro Protected Page</h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ab eos
    blanditiis rerum soluta, distinctio quia recusandae tempore amet, ut quos
    nam esse suscipit dolor possimus, neque est! Quos, iure?
  </p>
</MainLayout>
